<div class="topnav">
  <a class="active" routerLink="/receptionistdashboard">Home</a>
 
  <div class="search-container">
    <form>
      <!-- <input type="text" placeholder="Search.." name="search" > -->
      <!-- <button type="submit" routerLink="/ReadPatient/{{patientName}}" >Submit</button> -->
      <!-- routerLink="/ReadPatient/{{}}" -->
      <!-- patientName" [(ngModel)]="" -->
    </form>
  </div>
</div>

<section class="" style="background-color: #8fc4b7">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-lg-1 col-xl-7">
        <div class="card rounded-3">
          <!-- <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/img3.webp" -->
          <!-- class="w-100" style="border-top-left-radius: .3rem; border-top-right-radius: .3rem;"
            alt="Sample photo"> -->
          <div class="card-body p-4 p-md-5">
            <h3 class="mb-4 pb-2 pb-md-0 mb-md-5 px-md-2">Generate Bill</h3>

            <form class="px-md-2" [formGroup]="addBill" (submit)="onSubmit()" autocomplete="off">
              <!-- <div class="form-outline mb-4">
                <label class="form-label" for="form3Example1q"
                  >Appointment No</label
                >
                <input type="number" id="form3Example1q" class="form-control" formControlName="appointmentNo"  />
              </div> -->
              <!-- <div class="form-outline mb-4">
                <label class="form-label" for="form3Example1q">Doctor Id</label>
                <input type="number" id="form3Example1q" class="form-control" />
              </div> -->

              <!-- <div class="form-outline mb-4">
                <label class="form-label" for="form3Example1q"
                  >Patient Id</label
                >
                <input type="number" id="form3Example1q" class="form-control" />
              </div> -->

              <div class="form-outline mb-4">
                <label class="form-label" for="form3Example1q">Amount</label>
                <input type="number" id="form3Example1q" pattern="[0-9]{1,}" class="form-control"  formControlName="amount"  />
              </div>
              <div *ngIf="addBill.controls['amount'].invalid && (addBill.controls['amount'].dirty || addBill.controls['amount'].touched)" class="alert">
                <div *ngIf="addBill.controls['amount'].errors" style="color: red;">
                *Please Enter The Amount
              </div>
            </div>

              <div class="col-md-6 mb-4">
                <label class="form-label" for="form3Example1q"
                  >Amount Status</label
                ><br />
                <select class="select" formControlName="amountStatus" >
                  <option value="PAID">PAID</option>
                  <option value="NOT_PAID">NOT_PAID</option>
                </select>
              </div>
              <div *ngIf="addBill.controls['amountStatus'].invalid && (addBill.controls['amountStatus'].dirty || addBill.controls['amountStatus'].touched)" class="alert">
                <div *ngIf="addBill.controls['amountStatus'].errors" style="color: red;">
                *Please Enter The Amount Status
              </div>
            </div>

             

              <div class="col-md-6 mb-4">
                <label class="form-label" for="form3Example1q"
                  >Appointment Status</label
                ><br />
                <select class="select" formControlName="appointmentStatus">
                  <!-- <option value="ACTIVE">ACTIVE</option> -->
                  <!-- <option value="CANCEL">CANCEL</option> -->
                  <option value="COMPLETED">COMPLETED</option>
                </select>
              </div>
              <div *ngIf="addBill.controls['appointmentStatus'].invalid && (addBill.controls['appointmentStatus'].dirty || addBill.controls['appointmentStatus'].touched)" class="alert">
                <div *ngIf="addBill.controls['appointmentStatus'].errors" style="color: red;">
                *Please Enter The Appointment Status
              </div>
            </div>

              <button
                type="submit"
                class="btn btn-success btn-lg mb-1"
                required="required"
                [disabled]="addBill.invalid"
              >
                Submit
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
