<html>
    <body>
        <div class="topnav">
            <a class="active" routerLink="/receptionistdashboard">Home</a>
           
            <div class="search-container">
              <form>
                <!-- <input type="text" placeholder="Search.." name="">
                <button type="submit" >Submit</button> -->
                <!-- routerLink="/ReadPatient/{{}}" -->
                <!-- patientName" [(ngModel)]="" -->
              </form>
            </div>
          </div>

          <div>
            <app-alldoctors></app-alldoctors>
          </div>
    </body>
</html>
